body,
html {
	margin: 0;
	font-family: muli;
	height: 100%;
	padding: 0;
	overflow-x:hidden;
}

h1,
h2,
h3 {
	margin: 0;
}

.container {
	padding: 20px;
}

.toolbar {
	margin-bottom: 20px;
}

.toolbar__button {
	padding: 5px 10px;
	color: gray;
	background-color: white;
	border: 1px solid gray;
	cursor: pointer;
}

.toolbar__button:not(:last-child) {
	margin-right: 5px;
}

.toolbar__button:hover {
	color: rgb(59, 59, 59);
	border-color: rgb(59, 59, 59);
}

.toolbar__button.selected {
	background-color: rgb(91, 88, 88);
	color: white;
}

.project-list {
	display: grid;
	grid-template-columns: repeat(3, 200px);
	gap: 10px;
}

.project-list__item img {
	width: 200px;
}
